/* ProjectSection Styles */

h2 {
  font-weight: 300;
  font-family: Roboto, sans-serif !important;
  font-size: 4rem !important;
  line-height: 4rem;
  letter-spacing: -0.015625em !important;
  color: var(--pink);
}

.uk-margin {
  margin-bottom: 20px;
}

.uk-card-secondary {
  background-color: #181818;
  color: #ededed;
  box-shadow: 0 5px 15px var(--pink);
  border: 1px solid var(--pink);
  border-radius: 10px;
}

.uk-card-body {
  display: flow-root;
  padding: 30px 30px;
}

.uk-card {
  position: relative;
  box-sizing: border-box;
  transition: box-shadow 0.1s ease-in-out;
}

.button-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 15px;
}

.toggle-button {
  text-align: center;
  margin-bottom: 15px;
}

.toggle-button button {
  background-color: var(--pink);
  color: #fff;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.toggle-button button:hover {
  background-color: #ff518a;
}

.project-button {
  margin: 5px;
  border: none;
  overflow: visible;
  border-radius: 0;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 30px;
  vertical-align: middle;
  font-size: 0.875rem;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.1s ease-in-out;
  background-color: #222;
  color: #ededed;
  border: 1px solid transparent;
  border-radius: 5px;
}

.project-button:hover {
  background-color: var(--pink);
  color: #222;
}

.project-button.selected:hover {
  background-color: #222;
  color: var(--pink);
}

.project-button.selected {
  color: black;
  background-color: var(--pink);
}

#project .social-media-list {
  text-align: unset;
}

#project .social-media-list li {
  text-align: center;
}

.tag-button {
  margin-right: 0;
}

.tag-count {
  margin-left: 0;
}

/* Media Queries */
@media (max-width: 1000px) {
  h2 {
    font-size: 3.2rem !important;
  }
}

@media (max-width: 800px) {
  h2 {
    font-size: 2.8rem !important;
  }
}

@media (max-width: 600px) {
  .button-holder {
    padding: 0;
  }

  .project-button {
    margin: 10px;
    padding: 0 20px;
    font-size: 0.8rem;
    line-height: 32px;
  }
}

/* End of ProjectSection Styles and Media Queries */
