/* Certifications Styles */
.certifications {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  margin-top: 20px;
}

.arrow {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-size: 3rem; /* Increase font size */
  color: white;
  cursor: pointer;
  user-select: none;
  transition: color 0.3s;
  z-index: 1;
  border: 2px solid #222; /* Add border */
  padding: 5px; /* Add padding */
  border-radius: 50%; /* Make it circular */
  width: 40px; /* Set width and height to be equal */
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.right-arrow {
  right: 20px; /* Adjust position */
  left: auto;
}

.arrow:hover {
  color: var(--pink);
  border-color: var(--pink); /* Change border color on hover */
}

.certification-slide {
  position: relative;
  height: 75vh;
  display: none;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.5s ease-in-out;
 
  margin: 0 auto; /* Center horizontally */
}

.certification-slide.active {
  display: flex;
}

.certification-content {
  cursor: pointer;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.certification-slide:hover .certification-content {
  opacity: 1;
}

.certification-title {
  margin: 0;
  font-size: 1.8rem;
}

/* Media Queries */
@media (max-width: 768px) {
  .certification-slide {
    height: 60vh;
    width: 80%; /* Adjust width for smaller screens */
  }
}
