/* Scroll Up Button Styles */
.scroll-up-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  color: var(--pink);
  font-size: 4rem; /* Increase the font size for a larger arrow */
  width: 60px; /* Increase the width and height for a larger button */
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 999;
}

.scroll-up-button.visible {
  opacity: 1;
}

/* Media Queries */
@media (max-width: 768px) {
  .scroll-up-button {
    font-size: 3rem; /* Adjust the font size for smaller screens */
    width: 50px; /* Adjust the width and height for smaller screens */
    height: 50px;
  }
}

@media (max-width: 480px) {
  .scroll-up-button {
    font-size: 2rem; /* Adjust the font size for even smaller screens */
    width: 40px; /* Adjust the width and height for even smaller screens */
    height: 40px;
  }
}
