/* SkillSection Styles */
.software-skill-inline {
  margin: 0;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: "Poppins";
  padding: 0;
  text-align: center;
}

.dev-icons ul {
  padding-left: 0;
  list-style: none;
  font-size: 2.5rem; /* Adjust font size for smaller icons */
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.software-skill-inline:hover {
  color: var(--pink);
}

.software-skill-inline svg {
  margin: var(--box-padding);
  padding: 10px; /* Reduce padding for smaller logos */
  width: 80px; /* Adjust logo size */
  height: 80px; /* Adjust logo size */
}

.software-skill-inline p {
  font-size: var(--font-size-normal);
  margin-top: 5px; /* Reduce the gap between logo and text */
}

/* Media Queries */
@media (max-width: 768px) {
  .software-skill-inline {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .dev-icons ul {
    font-size: 2rem;
  }

  .software-skill-inline svg {
    width: 60px;
    height: 60px;
  }

  .software-skill-inline p {
    font-size: var(--font-size-small);
    margin-top: 3px;
  }
}

@media (max-width: 480px) {
  .software-skill-inline {
    margin-right: 5px;
    margin-bottom: 10px;
  }

  .dev-icons ul {
    font-size: 1.8rem;
  }

  .software-skill-inline svg {
    width: 50px;
    height: 50px;
  }

  .software-skill-inline p {
    font-size: var(--font-size-small);
    margin-top: 2px;
  }
}
/* End of SkillSection Styles and Media Queries */
